<!DOCTYPE html>
<html >
<head>
	<title>App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body class="container">
<div class="headerBox">

 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">


          <div class="row">
          <div class="nav nav-tabs jelly">

            <img id="airBnb" src="" alt="">
            <div class="inner peanutbutter">
              <h3 class="masthead-brand"></h3>
              <nav>

                <ul class="nav masthead-nav">

                  <a class="espacio" href="#">Home</a>
                  <a class="espacio" href="#">Features</a>
                  <a class="espacio" href="#">Contact</a>
                </ul>
              </nav>
               </div>

          </div>
            </div>
          </div>

          <div class="inner cover">
            <h1 id="title" class="cover-heading">WELCOME</h1>
            <p class="lead centerHeading">Rent unique places to stay from local hosts in 190+ countries.</p>
            <p class="lead centerHeading">
              <a href="#" id="button" class="btn btn-lg btn-default">How It Works</a>
            </p>
          </div>

          <div class="mastfoot">

          </div>

        </div>

      </div>

    </div>

	<div id="blackBox">

	<div class="row">
		<div class="col-md-12 buttons">
			<div class="btn-group">

				<div class="input-append" type="button">
					<input class="span2" id="appendedInputButton" type="text" placeholder="Where do you want to go?"></input>
					<input class="btn" type="date" placeholder="Where do you want to go?"/>
					<input class="btn" type="date" placeholder="Where do you want to go?"/>
					<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">gest 1</a></li>
    <li><a href="#">gest 2</a></li>
    <li><a href="#">gest 3</a></li>
    <li><a href="#">gest 4</a></li>
  </ul>
</div>
					<button class="btn" id="search" type="button" placeholder="Where do you want to go?">Search</button>

				</div>

			</div>
		</div>
	</div>
</div>
	</div>


	<h3 class="weekend">Just for the weekend</h3>
	<h5 class="weekend">Discover new inspiring places close to home.</h5>


	<div class="container-fluid foto">
	<div class="row hall">
		<div class="col-md-4 pix">
			<img class="pix" alt="Bootstrap Image Preview" src="http://i.imgur.com/sfYYhNR.jpg" />
		</div>
		<div class="col-md-4 pix">
			<img class="pix"alt="Bootstrap Image Preview" src="http://cdni.wired.co.uk/1240x826/a_c/airbnb.jpg" />
		</div>
		<div class="col-md-4 pix">
			<img class="pix" alt="Bootstrap Image Preview" src="http://img.pandawhale.com/post-41550-airbnb-is-worth-more-than-wynd-CeoL.png" />
		</div>
	</div>
</div>
</div>

<div class="container-fluid foto">
<div class="row hall">
	<div class="col-md-4 pix">
		<img class="pix" alt="Bootstrap Image Preview" src="http://i.imgur.com/sfYYhNR.jpg" />
	</div>
	<div class="col-md-4 pix">
		<img class="pix"alt="Bootstrap Image Preview" src="http://cdni.wired.co.uk/1240x826/a_c/airbnb.jpg" />
	</div>
	<div class="col-md-4 pix">
		<img class="pix" alt="Bootstrap Image Preview" src="http://www.siliconbeat.com/wp-content/uploads/2013/12/airbnb_0.jpg" />
	</div>
</div>
</div>
</div>
<div class="col-sm-12">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
s
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
